<link href="css/About.css" rel="stylesheet" />

<section id="about">
    <div class="text-center">
        <h1 id ="about_h1">Who is DotNetGirls?</h1>
        <p>
            <span class="text-purple">DotNetGirls</span> is<br/>
            a non-profit organization and a community<br/>to empower women developers.<br/><br/>
            We hold regular hands-on workshops and<br/> 
            technology events to provide opportunity.
        </p>
    </div>
</section>

@code{
    
}
