<link href="css/Event.css" rel="stylesheet" />

<section id="event">
    <h1>Upcoming Events and Past Events</h1>
    <a href="https://github.com/dotnetgirls/Events">
     <button>Go to see</button>
    </a>
</section>

@code{
    
}