<link href="css/Event.css" rel="stylesheet" />

<section id="event">
    <h1>Upcoming Events and Past Events</h1>
    <p>If you want to know about it, click this button!</p>
    <a href="https://github.com/dotnetgirls/workshop-portfolio">
     <button>Go to see</button>
    </a>
</section>

@code{
    
}