@page "/subscribe"

<link href="css/Subscribe.css" rel="stylesheet" />

<section id="subscribe">
    <h1>Subscribe Newsletter</h1>
    <p>We send you information about<br/>latest our community events and news.</p>

        <div id="mc_embed_shell">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_shell {
            font-family: 'Montserrat', sans-serif;
            text-align: center; /* 중앙 정렬 텍스트 */
            @* margin-top: 30px; /* Section과 div 사이의 하단 여백 설정 */ *@
            width: 70%; /* 너비를 70%로 설정 */
            max-width: 600px; /* 최대 너비를 600px로 설정 */
            margin: 0 auto; /* 중앙 정렬 블록 요소 */
        }
        #mc_embed_signup {
            font-family: 'Montserrat', sans-serif;
            clear: left;
            font-size: 16px;
            width: 100%; /* 부모 요소의 너비를 따름 */
            margin: 0 auto; /* 중앙 정렬 블록 요소 */
        }
        .optionalParent {
            text-align: center; /* 중앙 정렬 텍스트 */
        }
        .mc-field-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .mc-field-group input[type=email] {
            width: 100%; /* 이메일 입력 칸 너비를 100%로 설정 */
            max-width: 100%; /* 최대 너비를 100%로 설정 */
        }
        .clear.foot {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        .clear.foot p {
            margin: 0; /* 여백 제거 */
            flex-grow: 1;
            text-align: right; /* 오른쪽 정렬 */
        }
        .clear.foot img {
            width: 220px;
            height: 40px;
            margin-left: 10px;
        }
        #mc-embedded-subscribe {
            font-family: 'Montserrat', sans-serif;
            margin-right: auto; /* 왼쪽 정렬 */
        }
    </style>
    <div id="mc_embed_signup">
        <form action="https://dotnetgirls.us13.list-manage.com/subscribe/post?u=0e21b24071427bedc1044d464&amp;id=7c81716588&amp;f_id=007b19e9f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <div id="mc_embed_signup_scroll">
                <h2>Subscribe by input Email Address here!</h2>
                @* <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> *@
                <div class="mc-field-group">
                    @* <label for="mce-EMAIL">Input Email Address</label> *@
                    @* below: asterisk exist version *@
                    @* <label for="mce-EMAIL">Input Email Address <span class="asterisk">*</span></label> *@
                    <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
                </div>
                <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>
                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                    <!-- Real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
                    <input type="text" name="b_24d27715d3f7aeb389f5cf491_0356499a46" tabindex="-1" value="">
                </div>
                <div class="optionalParent">
                    <div class="clear foot">
                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                        @* below: mailchimp logo part *@
                        @* <p><a href="http://eepurl.com/iT9LoY" title="Mailchimp - email marketing made easy and fun">
                            <span style="display: inline-block; background-color: transparent; border-radius: 4px;">
                                <img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp">
                            </span></a></p> *@
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script type="text/javascript">
        (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL'; ftypes[0] = 'email';
            fnames[1] = 'FNAME'; ftypes[1] = 'text';
            fnames[2] = 'LNAME'; ftypes[2] = 'text';
            fnames[3] = 'ADDRESS'; ftypes[3] = 'address';
            fnames[4] = 'PHONE'; ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>
</div>




    <section id="notice">
    <p>Your email address will only be used to send newsletters.</p>
    </section>
</section>

@code{
    
}