@page "/"
@using dotnetgirls_site.Layout
@using dotnetgirls_site.Components

<PageTitle>DotNetGirls</PageTitle>

<div id="all">
    <Header />
    <Home />
    <About />
    <Info />
    <Subscribe />
    <Contact />
    <Footer />

</div>