#event{
    padding-top: 300px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column; /* 수직 방향으로 배치 */
    align-items: center; /* 중앙 정렬 */
    text-align: center; /* 텍스트 가운데 정렬 */
    background-color: blueviolet;
}

#event h1{
    font-size: 50px;
    color:white;
    font-family: 'Montserrat';
}

#event button{
    margin-top: 30px;
    background-color: rgb(210, 194, 246);
    color:purple;
    border-radius: 5px;
    width: 200px;
    height:50px;
    font-style:bold;
    font-size: 30px;
    font-family: 'Montserrat';
    border: none;
}

#event button:hover{
    background-color:rgb(213, 188, 213);
}