#footer{
    font-family: 'Montserrat';
    text-align: center;
    background-color: #bfbfbf;
    color: white;
    flex-direction: column; /* 수직 방향으로 배치 */
    align-items: center; /* 중앙 정렬 */
    text-align: center; /* 텍스트 가운데 정렬 */
    padding-top: 10px; /* 위아래 패딩을 줄여서 높이 조절 */
    padding: none;
    margin:none;
}

p {
    font-size: 20px;
    margin: 0!important;
}
