#footer{
    font-family: 'Montserrat';
    padding-top:30px;
    padding-bottom:0px;
    margin-bottom: 0px;
    text-align: center;
    background-color: #bfbfbf;
    color: white;
    display: flex;
    flex-direction: column; /* 수직 방향으로 배치 */
    align-items: center; /* 중앙 정렬 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

p {
    font-size: 20px;
}
