@font-face {
    font-family: 'Cafe24Decoshadow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Decoshadow.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Lovingu';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Lovingu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.background {
    width: 100%;
    height: 100%;
    position: relative;
    background: url('/images/homeimage1.png') no-repeat center center;
    background-size: cover;
}

img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background: rgba(72, 7, 94, 0.5);
    opacity: 0;
    transition: opacity 0.2s; /* Only opacity transition */
    text-align: center; 
}

.background:hover .overlay {
    opacity: 1;
}

.overlay h1, .overlay p {
    transform: translateY(50px);
    transition: transform 2s;
}

.background:hover .overlay h1,
.background:hover .overlay p {
    transform: translateY(0);
}

.overlay h1 {
    padding-top: 20vh;
    font-family: 'Cafe24Decoshadow';
    font-size: 7vw; /* 화면 너비의 7%로 글자 크기 설정 */
    margin-bottom: 20px;
    color: white;
}

.overlay p {
    font-family: 'Cafe24Lovingu';
    font-size: 4vw; /* 화면 너비의 4%로 글자 크기 설정 */
    margin-top: 20px; 
    margin-bottom: 5px; 
    line-height: 1; 
    color: white;
}
